.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007bff;
    text-decoration: underline;
}

.footer-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #007bff;
}
