.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.navbar-links button {
    margin: 0 15px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    border: none;
    background: none;
    transition: color 0.3s;
}

.navbar-links button:hover {
    color: #007bff;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-icon {
    font-size: 1.5em;
    margin-left: 20px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.navbar-icon:hover {
    color: #007bff;
}